# personal GitLab account
# install.sh copies this to ~/.config/git/identities/gitlab-personal if absent; fill EMAIL_GITLAB
[user]
	name = Khikmet Kerimov
	email = EMAIL_GITLAB

[core]
	sshCommand = ssh -i ~/.ssh/id_ed25519_gitlab -o IdentitiesOnly=yes
